/* variables */
:root {
    --main-font: "Lato Regular";
    --secondary-font: "Lato Light";
    --secondary-font-italic: "Lato Light Italic";
    --primary-color: #404040;
    --secondary-color: #bca474;

}

/* fonts */
@font-face {
    font-family: "Lato Light";
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: "Lato Light Italic";
    src: url(../fonts/Lato-LightItalic.ttf);
}

@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

/* global */
.text-dark {
    color: var(--primary-color)!important;
}

/* navbar */
.navbar {
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-item {
    font-family: var(--secondary-font);
}

.navbar__span {
    letter-spacing: 3px;
}

.nav-link:hover {
    color: var(--secondary-color)!important;
}